<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "net.madran.fujiamaapp"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fujiama App</name>

  <description>
      Mobil uygulama test
  </description>

  <author href="http://www.madran.net" email="orcunmadran@gmail.com">
      Orçun Madran
  </author>

  <icon src="icon.png" />

</widget> 